* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffd6e8, #ffeef6);
  font-family: "Comic Sans MS", cursive, sans-serif;
  overflow-x: hidden;
}

/* TAP OVERLAY */
.tap-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255,214,232,0.98);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-align: center;
}

.tap-overlay p {
  font-size: 24px;
  color: #ff4d94;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* CARD */
.card {
  background: white;
  width: 90%;
  max-width: 380px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(255,105,180,0.35);
  z-index: 1;
  border: 2px solid #ffeef6;
}

h1 { color: #ff69b4; font-size: 20px; }
.subtitle { font-size: 14px; color: #ff85c1; margin-bottom: 5px; }

.photo {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.img-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.img-buttons button {
  width: 48%;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background: #ffb6d9;
  color: white;
  cursor: pointer;
}

.divider {
    border: none;
    border-top: 2px dashed #ffb6d9;
    margin: 20px 0;
}

video {
    width: 100%;
    border-radius: 15px;
    border: 3px solid #ffb6d9;
}

.love-btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 25px;
  background: #ff69b4;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: white;
  width: 85%;
  max-width: 320px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  animation: pop 0.4s ease;
}

@keyframes pop {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #ff69b4;
}